@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;}
body{
  display: flex;
  flex-wrap: wrap;
width: 100vw;
height: 100vh;
background-color: black;
overflow: hidden;

}
.row{
  display: flex;
  flex-wrap: wrap;
width: 100vw;
height: 100vh;
background-color: black;
}
.header{
  width: 100vw;
  height: 20vh;
  background-color:white;
  border-bottom:green solid 0.3vw
}
.chien{
  position: absolute;
  width: 18vw;
  height: 18vh;
  border-radius: 40px;
  left: 65vw;
  top: 7px;
  background: url(chien-chat.jpg);
}
h1{
  font-family: Sofia;
  position: absolute;
  width: 24.90vw;
  height: 5.09vh;
  left:12vw;
  top: 2px;
  font-style: normal;
  font-weight: normal;
  font-size: 3.33vw;
  line-height: 6.94vh;
  color:rgb(63, 243, 78);
z-index: 999;

}
.logoPet{
  position: absolute;
  width: 12vw;
  height: 12vh;
  left: 5vw;
  top: 10px;
  z-index: 999;
  background-color: black;
}

h2{
  position: absolute;
  width: 45vw;
  height: 4.16vh;
  left: 22vw;
  top: 8vh;
  font-family: roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.77vw;
  line-height: 6.94vh;
  color: maroon;
}
h3{
  display: flex;
  font-family: roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.77vw;
  line-height: 6.94vh;
  color: white;
}
.meds p{
  position: absolute;
  top:50vh;
  left: 5vw;
  font-family: roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2vw;
  line-height: 2.31vh;
}
.pets{
  display: flex;
  text-align: center;
  justify-content: center;
  border-right: black solid 0.1vw;
  width: 100vw;
  height: 20vh;
  background-color: coral;
  border-radius: 20px;
}
.pets p{
  position: absolute;
  top: 29vh;
  left: 0.5vw;
  font-family: roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2vw;
  line-height: 2.31vh;
}
.service{
  display: flex;
  text-align: center;
  justify-content: center;
  border-right: black solid 0.1vw;
  width: 100vw;
  height: 69vh;
  background-color: coral;
  border-radius: 20px;
}
.service p{
  position: absolute;
  top: 29vh;
  left: 0.5vw;
  font-family: roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2vw;
  line-height: 2.31vh;
}
.future{
  display: flex;
  text-align: center;
  justify-content: center;
  border-right: black solid 0.1vw;
  width: 100vw;
  height: 69vh;
  background-color: coral;
  border-radius: 20px;
}
.healthy{
  display: flex;
  text-align: center;
  justify-content: center;
  border-right: black solid 0.1vw;
  width: 100vw;
  height: 69vh;
  background-color: coral;
  border-radius: 20px;
}
.healthy p{
  position: absolute;
  top: 29vh;
  left: 0.5vw;
  font-family: roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2vw;
  line-height: 2.31vh;
}
.meds{
  display: flex;
  text-align: center;
  justify-content: center;
  border-right: black solid 0.1vw;
  width: 49.9vw;
  height: 49vh;
  background-color: coral;
  border-radius: 20px;
}
.food p{
  position: absolute;
  top: 50vh;
  left: 59vw;
  font-family: roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2vw;
  line-height: 2.31vh;
}
.food{
  display: flex;
  justify-content: center;
  width: 50vw;
  height: 49vh;
  background-color: coral;
  border-radius:20px ;
}
.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #050801;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  height: 12vh;
}

a{
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 40px 0;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  margin-right: 50px;

}
a:hover{
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 200px #03e9f4;
   -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
a:nth-child(1){
  filter: hue-rotate(270deg);
}
a:nth-child(2){
  filter: hue-rotate(110deg);
}
a span{
  position: absolute;
  display: block;
}
a span:nth-child(1){
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#03e9f4);
  animation: animate1 1s linear infinite;
}
@keyframes animate1{
  0%{
      left: -100%;
  }
  50%,100%{
      left: 100%;
  }
}
a span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2{
  0%{
      top: -100%;
  }
  50%,100%{
      top: 100%;
  }
}
a span:nth-child(3){
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.50s;
}
@keyframes animate3{
  0%{
      right: -100%;
  }
  50%,100%{
      right: 100%;
  }
}


a span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4{
  0%{
      bottom: -100%;
  }
  50%,100%{
      bottom: 100%;
  }
}
@media only screen and (max-width: 600px) {
#logoPet{
  width: 10vw;
  height: 10vh;
}
.chien{
  width: 18vw;
  height: 25vh;
}
}
